@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ant clasess for: where(.css-dev-only-do-not-override ) */

main.ant-layout-content {
  font-family: 'Inter', sans-serif;
}
.ant-menu-light .ant-menu-item-selected {
  background-color: #6e62e5;
  color: white;
}

.ant-menu-light.ant-menu-root.ant-menu-inline {
  border-inline-end: none;
  border-inline-start: none;
}

.ant-layout-header {
  line-height: normal;
}

/*react-day-picker classes  */

.rdp-caption_label {
  font-size: 14px;
  font-weight: 500;
}

.rdp-head_cell {
  color: #b2afaf;
  font-weight: 400;
  text-transform: capitalize;
}

.rdp-nav_button > svg {
  width: 8px;
}

.rdp-nav_button {
  border: 1px solid lightgray;
  color: grey;
  width: 20px;
  height: 20px;
  margin-left: 4px;
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  background-color: #6e62e5;
}

.rdp-button {
  width: 20px;
  height: 20px;
}

.rdp-cell {
  height: 15px;
}
